# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @simeoncran @sohchatt

# File types
*.cs    @simeoncran
*proj   @simeoncran
*sln    @simeoncran
*.md    @simeoncran @sohchatt

# Directories
/build/ @simeoncran
