# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @simeoncran @sohchatt @ddriver-ms @MolusMS @adadi-MS @jverral
