# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt

# File types
*.cs    @eliezerpMS @simeoncran
*proj   @eliezerpMS @simeoncran
*sln    @eliezerpMS @simeoncran
*.md    @sohchatt @eliezerpMS @simeoncran

# Directories
/build/ @eliezerpMS @simeoncran
