<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="bc745331-50c8-4303-b915-9f18473cca65" Publisher="CN=9AF86C33-622F-4896-9ED2-78CAE82263F6" Version="1.0.37.0" />
  <mp:PhoneIdentity PhoneProductId="bc745331-50c8-4303-b915-9f18473cca65" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Lottie Viewer</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo-BETA.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LottieViewer.App">
      <uap:VisualElements DisplayName="Lottie Viewer (BETA)" Square150x150Logo="Assets\Square150x150Logo-BETA.png" Square44x44Logo="Assets\Square44x44Logo-BETA.png" Description="Lottie Viewer (BETA)" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo-BETA.png" />
        <uap:DefaultTile Square310x310Logo="Assets\LargeTile-BETA.png" Wide310x150Logo="Assets\Wide310x150Logo-BETA.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00D1C1" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
