<#@ include file="IssuesClassGenerator.t4" #>
<#+
    const string className = "ParsingIssues";
	const string namespaceName = "CommunityToolkit.WinUI.Lottie.LottieData.Serialization";
	const string prefixFilter = "LP";
#>