<#@ include file="IssuesClassGenerator.t4" #>
<#+
    const string className = "ValidationIssues";
	const string namespaceName = "CommunityToolkit.WinUI.Lottie.LottieData";
	const string prefixFilter = "LV";
#>